#home-page{
	width: 100%;
}
#left-area{
	border: 1px solid #ccc;
	height: 400px;
}
#center-area{
	border: 1px solid black;
	height: 400px;
}
#right-area{
	border: 1px solid #ccc;
	height: 400px;
}
.widget-header{
	width: 100%;
	margin-bottom: 5px;
	padding: 5px 0px;
	background-color: #e6e6e6;
	border-bottom: 2.5px solid #0091d4;
}
.widget-header img{
	padding-left: 10px;
	padding-right: 5px;
	display: inline;
}
.widget-header p{
	display: inline;
	font-weight: bold;
	font-size: 14px;
	color: #0091d4;
	margin: 0px;
}
.form{
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}
.form-group{
	width: 80%;
}
.form-group p{
	color: #317eac;
	font-size: 12px;
}
.form-group input{
	color: #317eac;
	font-size: 12px;
	height: 32px;
}
.is-khuhoi-group{
	margin-bottom: 15px;
}
.is-khuhoi-group span{
	font-size: 12px;
	padding-right: 16px;
}